<!doctype html>
<html lang="en" ng-app="devModule">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script type="text/javascript" src="app/lib/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="app/app.js"></script>

	<title>Dashboard</title>
</head>
<body >
	<header>
		<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
			<span class="logo"></span>
			<a href="" class="navbar-brand">XYZ Inc.</a>
			<ul class="nav navbar-nav ml-auto justify-content-end">
				<li><a href="#about" class="navbar-brand" style="margin-right: 5px">Hi, James</a></li>
			</ul>
			<span class="profile"></span>
		</nav>
	</header>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Posts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Photos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Albums</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">To Do's</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Users</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9 ml-sm-auto col-md-10 pt3" >
				<div ng-controller="ngController">
					<h3>Photos</h3>
					<div class="container " style="display: flex">
						<select ng-model="pageSize" id="pageSize" class="form-control">
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="15">15</option>
							<option value="20">20</option>
						</select>
						<button class="btn primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
							Previous
						</button>
						{{currentPage+1}}/{{numberOfPages()}}
						<button class="btn primary" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
							Next
						</button>
					</div>


					<!-- <uib-pagination total-items="posts.length" ng-model="currentPage" items-per-page="pageSize"></uib-pagination> -->
					<ul class="list-unstyled">
						<li  class=" media my-4" ng-repeat="post in posts | filter:q | startFrom: currentPage * pageSize|  limitTo:pageSize">
							<img class="mr-3" src="{{post.thumbnailUrl}}" style="height:70px; width:70px"></img>
							<div class="media-body">
								<h5 class="mt-0 mb-1">id: {{post.id}}</h5>
								title: {{post.title}}
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
